{% extends "_base.html" %}
{% block title %}Rainbow{% endblock %}
{% block body %}
  {% raw %}
    <div class="container-fluid" ng-controller='IndexCtrl'>
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
                <label for="docURL">Google Doc URL</label>
                <input name='docURL' ng-model='data.docURL' type="text"
                       placeholder="https://docs.google.com/document/d/1v0O9oDsc7fg1bEoBzwwS80EzNon3-Isk9aQ_16YgI-Q">
                <label for="calendarURL" ng-if="data.calendarURL">Calender Subscription URL</label>
                <input name="calendarURL" ng-value="data.calendarURL" ng-if="data.calendarURL" type="text" readonly>
                <ul id="events-list" class="nav nav-sidebar"> </ul>
            </div>
            <div class="col-sm-9 col-md-10 main">
              <div id="map-container" class="row">
                <div id="map-canvas"></div>
              </div>
            </div>
       </div>
    </div>
  {% endraw %}
{% endblock %}
