{% extends "_base.html" %}
{% block title %}Rainbow{% endblock %}
{% block body %}
  {% raw %}
    <div ng-controller='IndexCtrl'>
      <form role="form">
        <div class="form-group">
          <label for="doc">Google Doc Link</label>
          <input type="text" name='doc' class="form-control" ng-model='data.docURL'
                 placeholder="https://docs.google.com/document/d/1v0O9oDsc7fg1bEoBzwwS80EzNon3-Isk9aQ_16YgI-Q">
        </div>
      </form>
        <div class="form-group">
          <input type="text" ng-value="data.calendarURL" readonly>
        </div>
    </div>
  {% endraw %}
{% endblock %}
